.site-footer{
    background-color: rgb(252, 210, 176);
    height: 3rem;
    width: 100%;
}

.site-footer div{
    padding-top: 1rem;
    padding-left: 1rem;
}

.footer-content{
    display: flex;
    justify-content: space-evenly;
}

.footer-content a{
    text-decoration: none;
    color: black;
}

.social-and-pay{
    text-align: center;
}

.footer-content a:hover{
    text-decoration: line-through white;
}