.header{
    width: 100%;
}

.brand-name{
    color: black;
    font-size: 8vw;
    width: 300px;
    position: relative;
    top: -15rem;
    left: 5rem;
    color: white;
    text-decoration: none;
    font-family: "Overpass Mono";
}

.shop-now{
    cursor: pointer;
    position: relative;
    top: -16rem;
    left:6rem;
    background-color: white;
    height: 2.8rem;
    border-radius: 0.5rem;
    width: 8rem;
}

.shop-now a{
    text-decoration: none;
    color: black;
    font-size: 120%;
    font-family: "Overpass Mono";
    position: relative;
    left: 0.8rem;
    top: 0.7rem;
}