.outfit-mix{
    margin: auto;
    width: 75vw;
    height: 44vw;
    border: solid hotpink 5px;
    margin-bottom: 4rem;
    margin-top: -4rem;
}

.outfit-mix h1{
    text-align: center;
}

.outfits{
    margin: auto;
    height: 620px;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.preview-image{
    cursor: pointer;
}

.preview-image:hover
{
	transform: scale(1.04);
	transition: .2s;
}
