.outfit-mix{
    margin: auto;
    padding-bottom: 2rem;
    border: solid rgb(252, 210, 176) 5px;
    border-radius: 5rem;

    width: min-content;
    padding-left: 2rem;
    padding-right: 2rem;
}

.outfit-mix h1{
    text-align: center;
}

.outfits{
    margin: auto;
    height: 620px;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.preview .basket-or-favorite{
    text-align: center;
}

.preview-image{
    cursor: pointer;
    max-width: 100%;
    border-radius: 1rem;
}

/* .preview-image:hover
{
	transform: scale(1.04);
	transition: .2s;
} */
