.image-section{
    position: relative;
    top:3rem;
    text-align: center;
}

.news-headline{
    position: relative;
    top:3rem;
    font-size: 230%;
}

.news-images{
    position: relative;
    top:5rem;
}