.image-section{
    position: relative;
    top:3rem;
    text-align: center;
}

.products-headline{
    position: relative;
    top:3rem;
    font-size: 230%;
}

.products-images{
    position: relative;
    top:5rem;
}