.outfit-mix{
    border: solid hotpink 5px;
    margin: auto;
    width: 70vw;
    margin-bottom: 6rem;
    margin-top: -4rem;
}

.outfit-mix h1{
    text-align: center;
}

.outfits{
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    width: 66vw;
}

.preview-image{
    cursor: pointer;
}